In [13]:
import numpy as np
import pandas as pd
from pandas_profiling import ProfileReport

In [14]:
df = pd.read_csv("combinedtesttrain.csv")
df.head()

,patient_id,standard_lab_parameter_name,parameter_value,unit,created_at,reference_high,reference_low,age_group,gender
0,0,WBC,579.00,10^3/μl,2019-07-02 1:19:04,10.0,4.0,old,male
1,1,T4,5.00,μg/dl,2019-07-02 1:19:04,12.0,4.5,old,male
2,2,WBC,6.81,10^3/μl,2019-05-06 14:07:52,10.0,4.0,adult,male
3,3,T4,5.70,μg/dl,2019-05-06 14:07:52,12.0,4.5,adult,male
4,4,WBC,4.64,10^3/μl,2019-07-21 13:41:00.528523+00:00,10.0,4.0,adult,male

In [15]:
from pandas_visual_analysis import VisualAnalysis

In [16]:
df.describe()

         patient_id  parameter_value  reference_high  reference_low
count  20000.000000     20000.000000    20000.000000   20000.000000
mean    4999.500000       277.635296      311.506936     137.747040
std     2886.823503      6641.218574     1626.876124     642.261597
min        0.000000       -71.000000        1.120000       0.000000
25%     2499.750000         6.900000       10.000000       4.000000
50%     4999.500000         9.200000       12.000000       4.500000
75%     7499.250000       101.000000      107.000000      98.000000
max     9999.000000    920000.000000    15000.000000    5000.000000

In [17]:
profile = ProfileReport(df, title='Pandas Profiling Report', explorative=True)

In [18]:
profile.to_widgets()

HBox(children=(FloatProgress(value=0.0, description='Summarize dataset', max=23.0, style=ProgressStyle(descrip…

HBox(children=(FloatProgress(value=0.0, description='Generate report structure', max=1.0, style=ProgressStyle(…

HBox(children=(FloatProgress(value=0.0, description='Render widgets', max=1.0, style=ProgressStyle(description…

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

Exception on /dtale/charts/_dash-update-component [POST]
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "C:\ProgramData\Anaconda3\lib\site-packages\dash\dash.py", line 1078, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "C:\ProgramData\Anaconda3\lib\site-packages\dash\dash.py", line 1009, in add_context
    output_value = func(*args, **kwargs)  # %% callback invoked %%
  File "C:\ProgramData\Anaconda3\lib\site-packages\dtale\dash_application\views.py", line 917, in group_values
    group_vals = build_group_val_options(group_vals, group_cols)
  File "C:\ProgramData\Anaconda3\lib\site-packages\dtale\dash_application\layout\layout.py", line 792, in build_group_val_options
    group_vals = find_group_vals(df, group_cols)
  File "C:\ProgramData\Anaconda3\lib\site-packages\dtale\charts\utils.py", line 798, in find_group_vals
    group_vals, _ = retrieve_chart_data(df, group_cols)
  File "C:\ProgramData\Anaconda3\lib\site-packages\dtale\charts\utils.py", line 298, in retrieve_chart_data
    all_data = pd.concat(all_data, axis=1)
  File "C:\Users\dk\AppData\Roaming\Python\Python38\site-packages\pandas\core\reshape\concat.py", line 285, in concat
    op = _Concatenator(
  File "C:\Users\dk\AppData\Roaming\Python\Python38\site-packages\pandas\core\reshape\concat.py", line 342, in __init__
    raise ValueError("No objects to concatenate")
ValueError: No objects to concatenate
Exception on /dtale/charts/_dash-update-component [POST]
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "C:\ProgramData\Anaconda3\lib\site-packages\dash\dash.py", line 1078, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "C:\ProgramData\Anaconda3\lib\site-packages\dash\dash.py", line 1009, in add_context
    output_value = func(*args, **kwargs)  # %% callback invoked %%
  File "C:\ProgramData\Anaconda3\lib\site-packages\dtale\dash_application\views.py", line 917, in group_values
    group_vals = build_group_val_options(group_vals, group_cols)
  File "C:\ProgramData\Anaconda3\lib\site-packages\dtale\dash_application\layout\layout.py", line 792, in build_group_val_options
    group_vals = find_group_vals(df, group_cols)
  File "C:\ProgramData\Anaconda3\lib\site-packages\dtale\charts\utils.py", line 798, in find_group_vals
    group_vals, _ = retrieve_chart_data(df, group_cols)
  File "C:\ProgramData\Anaconda3\lib\site-packages\dtale\charts\utils.py", line 298, in retrieve_chart_data
    all_data = pd.concat(all_data, axis=1)
  File "C:\Users\dk\AppData\Roaming\Python\Python38\site-packages\pandas\core\reshape\concat.py", line 285, in concat
    op = _Concatenator(
  File "C:\Users\dk\AppData\Roaming\Python\Python38\site-packages\pandas\core\reshape\concat.py", line 342, in __init__
    raise ValueError("No objects to concatenate")
ValueError: No objects to concatenate

2021-03-05 19:20:34,083 - ERROR    - Exception on /dtale/charts/_dash-update-component [POST]
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "C:\ProgramData\Anaconda3\lib\site-packages\dash\dash.py", line 1078, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "C:\ProgramData\Anaconda3\lib\site-packages\dash\dash.py", line 1009, in add_context
    output_value = func(*args, **kwargs)  # %% callback invoked %%
  File "C:\ProgramData\Anaconda3\lib\site-packages\dtale\dash_application\views.py", line 917, in group_values
    group_vals = build_group_val_options(group_vals, group_cols)
  File "C:\ProgramData\Anaconda3\lib\site-packages\dtale\dash_application\layout\layout.py", line 792, in build_group_val_options
    group_vals = find_group_vals(df, group_cols)
  File "C:\ProgramData\Anaconda3\lib\site-packages\dtale\charts\utils.py", line 798, in find_group_vals
    group_vals, _ = retrieve_chart_data(df, group_cols)
  File "C:\ProgramData\Anaconda3\lib\site-packages\dtale\charts\utils.py", line 298, in retrieve_chart_data
    all_data = pd.concat(all_data, axis=1)
  File "C:\Users\dk\AppData\Roaming\Python\Python38\site-packages\pandas\core\reshape\concat.py", line 285, in concat
    op = _Concatenator(
  File "C:\Users\dk\AppData\Roaming\Python\Python38\site-packages\pandas\core\reshape\concat.py", line 342, in __init__
    raise ValueError("No objects to concatenate")
ValueError: No objects to concatenate

In [19]:
import dtale

In [20]:
dtale.show(df)